/* Rólunk oldal konténer */

.asdp {
  text-align: center;
  font-size: 20px;
}
.AboutUs {
  margin: 0 auto;
  padding: 2rem;
}

.AboutUs-header {
  text-align: center;
  margin-bottom: 2rem;
}

.AboutUs-h1 {
  font-size: 3rem;
  color: #2c3e50;
  margin-bottom: 0.5rem;
}

.about-content {
  color: black;
  padding: 2rem;
  border-radius: 8px;
  margin: 0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.AboutUs-h2 {
  font-size: 2rem;
  color: #2980b9;
  margin-top: 1.5rem;
}

.AboutUs-p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.AboutUs-ul {
  list-style-type: none;
  margin: 1rem 0;
}

.AboutUs-ul li {
  font-size: 1rem;
  padding-left: 1.2rem;
  position: relative;
  color: white !important;
}

.AboutUsul-li::before {
  content: "✔";
  position: absolute;
  left: 0;
  color: #2ecc71;
}

.team {
  display: flex;
  justify-content: space-around;
  margin-top: 2rem;
}

.team-member {
  text-align: center;
  width: 200px;
  padding: 1rem;
}

.team-member img {
  width: 100%;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 1rem;
}

.team-member h4 {
  font-size: 1.2rem;
  color: #2c3e50;
}

.team-member p {
  font-size: 1rem;
  color: #7f8c8d;
}

.AboutUs-footer {
  text-align: center;
  margin-top: 2rem;
  font-size: 0.9rem;
  color: #7f8c8d;
}

.AboutUs-footer p {
  margin-top: 1rem;
}

.mainp {
  place-items: center;
  width: 190px;
  height: 254px;
}

.cardp {
  width: 190px;
  height: 284px;
  background: #faf1f6;
  padding: 2rem 1.5rem;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 0 1rem; /* Kisebb extra távolságot ad a kártyákhoz */
}

.card-infop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-avatarp {
  background: radial-gradient(#a8a6b6, #b3b1bf, #bdbbc7, #c5c4ce, #e2e2e7);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  transition: transform 0.2s ease;
}

.card-avatarp svg {
  padding-top: 5px;
  height: 80px;
  width: 100px;
  fill: #515f65;
}

.card-socialp {
  display: flex;
  justify-content: space-around;
  width: 190px;
  margin-top: 10%;
  text-align: center;
}

.card-social-iconp {
  list-style: none;
  color: #515f65;
  font-size: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-social-iconp svg {
  display: block;
  height: 20px;
  width: 20px;
  fill: #515f65;
  cursor: pointer;
}

.card-titlep {
  color: #1b1b1b;
  font-size: 1em;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 5px;
}

.card-subtitlep {
  color: #7e93a0;
  font-size: 1em;
}

.address-iconp {
  fill: #515f65;
  height: 150px;
  width: 100px;
  list-style: none;
  justify-content: space-around;
}

.address-titlep {
  color: #333;
  font-size: 1em;
  font-weight: 600;
  list-style: none;
}

.addressp {
  color: #859ba8;
  font-size: 0.8em;
  list-style: none;
  padding-left: 20px;
}

.contact-titlep {
  color: #333;
  font-size: 1em;
  font-weight: 600;
  margin-top: 45%;
  padding-bottom: 5px;
}

.card-contactp {
  color: #859ba8;
  font-size: 0.8em;
}

.icon-contactp {
  list-style: none;
  display: flex;
  align-items: center;
}

.icon-contactp svg {
  display: block;
  height: 18px;
  width: 18px;
  fill: #515f65;
  padding-right: 5px;
}

.cardp:hover {
  box-shadow: 0 10px 50px #23232333;
}

.cardp:hover .card-info {
  transform: translateY(-5%);
}

.card-avatarp:hover {
  transform: scale(1.1);
}

#cs1:hover {
  transform: scale(2);
}

#cs2:hover {
  transform: scale(2);
}

#cs3:hover {
  transform: scale(2);
}

.mainp:hover #c1 {
  transform: translateX(0px);
}

.mainp:hover #c2 {
  transform: translateX(200px);
}

.mainp:hover #c3 {
  transform: translateX(-200px);
}

.cardProfiles {
  display: flex;
  justify-content: center;
  gap: 13rem; /* Növeli a távolságot a kártyák között */
  margin: 2em;
  padding: 2em;
}

@media (max-width: 768px) {
  .cardProfiles {
    display: grid;
  }
  .cardp {
    width: 150px;
    height: 200px;
  }
}
/* 
li {
  font-size: 10px;
}

ul {
  font-size: 20px;
  text-align: center;
} */
