.faq-container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.faq-list {
  margin-top: 20px;
}

.faq-item {
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  transition: background-color 0.3s;
  color: white;
}

.faq-item:hover {
  background-color: #f9f9f9;
  color: black;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.faq-question h3 {
  margin: 0;
}

.faq-answer {
  margin-top: 10px;
  padding-left: 20px;
}

.faq-answer p {
  margin: 0;
}
