@import url("/css/booking.css");
@import url("/css/bs.css");
@import url("/css/btn.css");
@import url("/css/faq.css");
@import url("/css/foglalasok.css");
@import url("/css/footer.css");
@import url("/css/homescreen.css");
@import url("/css/inputpasscolant.css");
@import url("/css/landing.css");
@import url("/css/navbar.css");
@import url("/css/privacy.css");
@import url("/css/profile.css");
@import url("/css/room.css");
@import url("/css/selectorok.css");
@import url("/css/socialcard.css");
@import url("/css/login.css");
@import url("/css/about.css");
@import url("/css/extrak.css");
@import url("/css/dropdown.css");
@import url("/css/register.css");

@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&display=swap");
.App {
  text-align: left;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", sans-serif, "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-family: "Geist Mono", monospace !important;
}

.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  --border-right: 6px;
  --text-stroke-color: rgba(255, 255, 255, 0.6);
  --animation-color: #ffffff;
  --fs-size: 25px;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}

.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}

.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color));
}
