@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&display=swap");
.App {
  text-align: left;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", sans-serif, "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-family: "Geist Mono", monospace !important;
  width: 100%;
  height: 100%;
  --s: 15em;
  --o: 0.5;
  --c1: rgba(244, 235, 208, var(--o));
  --c2: rgba(194, 178, 163, var(--o));

  background-image: linear-gradient(var(--c1) 50%, var(--c2) 50%),
    linear-gradient(45deg, var(--c1) 50%, var(--c2) 50%),
    linear-gradient(90deg, var(--c1) 50%, var(--c2) 50%),
    linear-gradient(135deg, var(--c1) 50%, var(--c2) 50%);
  background-size: var(--s) var(--s);
  /* padding-top: 0em; */
}

.text-container {
  margin: 0 !important;
  height: 100vh;
  width: 100vw;
  padding-top: 15em;
}

.text-container h1 {
  margin-top: 0em !important;
  margin-bottom: 0.5em !important;
  font-size: 8em !important ;
  color: rgba(225, 225, 225, 0.01);
  background-image: url("https://img.freepik.com/free-photo/luxury-classic-modern-bedroom-suite-hotel_105762-1787.jpg");
  background-repeat: repeat;
  -webkit-background-clip: text;
  animation: animate 15s ease-in-out infinite;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
}

@keyframes animate {
  0%,
  100% {
    background-position: left top;
  }
  25% {
    background-position: right bottom;
  }
  50% {
    background-position: left bottom;
  }
  75% {
    background-position: right top;
  }
}

.profilcard {
  width: 190px;
  padding: 3em !important;
  margin: 3em;
  height: 254px;
  background: rgb(38, 38, 38);
  box-shadow: 7px 5px 10px rgba(0, 0, 0, 0.333);
}

.profile-container {
  width: 100%;
  max-width: 600px;
  margin: auto;
  padding: 200px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  font-family: Arial, sans-serif;
}

.profile-header {
  position: relative;
}

.background-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.profile-info {
  position: absolute;
  padding: 200px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.profile-pic {
  padding: 200px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 3px solid white;
}

.profile-info h2 {
  margin: 8px 0 4px;
  font-size: 20px;
  color: black;
  padding: 10px;
  margin: 20px;
}

.profile-info p {
  font-size: 14px;
  color: gray;
}

.profile-stats {
  display: flex;
  justify-content: space-around;
  background: #f9f9f9;
}

.stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stat strong {
  font-size: 18px;
  color: black;
}

.stat span {
  font-size: 12px;
  color: gray;
}

.imge {
  height: 70px;
  background-color: #ff5858;
}

.imge .Usericon {
  background-color: #414141;
  transform: translateX(10px) translateY(10px);
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.imge .UserName {
  background-color: #414141;
  width: 60px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-35px);
}

.imge .Id {
  background-color: #414141;
  width: 100px;
  height: 15px;
  border-width: 10px;
  border-radius: 5px;
  border-color: #262626;
  color: #262626;
  font-size: 15px;
  font-weight: bold;
  transform: translateX(70px) translateY(-25px);
}

.Description {
  border-color: #141414;
  background-color: #414141;
  transform: translate(5px, 6px);
  width: 180px;
  height: 130px;
  border-radius: 5px;
}

/*______Social Media______*/
.social-media:before {
  content: " ";
  display: block;
  width: 100%;
  height: 2px;
  transform: translatey(10px);
  background: #414141;
}

.social-media a {
  margin-right: 15px;
  text-decoration: none;
  color: inherit;
}

.social-media a:last-child {
  margin-right: 0;
}

.social-media a svg {
  color: #ff5858;
  transform: translatex(25px) translateY(20px);
  width: 20px;
  fill: currentColor;
}

.input {
  border: none !important;
  padding: 1rem !important;
  border-radius: 1rem !important;
  background: #e8e8e8 !important;
  box-shadow: 20px 20px 60px #c5c5c5, -20px -20px 60px #ffffff !important;
  transition: 0.3s !important;
}
.input:focus {
  outline-color: #e8e8e8 !important;
  background: #e8e8e8 !important;
  box-shadow: inset 20px 20px 60px #c5c5c5, inset -20px -20px 60px #ffffff !important;
  transition: 0.3s !important;
}

code {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  background-color: black !important;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.navbar-nav {
  margin-left: auto;
}
.dropdown-menu {
  margin-left: auto !important;
  position: absolute;
  right: 0;
}
.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1 {
  font-size: 20px !important;
}

.btn {
  background-color: black !important;
  color: white !important;
  border: 0px !important;
  box-shadow: none !important;
}

.roombs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 25px !important;
  flex-wrap: nowrap;
  height: 250px;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.bs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 25px !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 6em;
  padding-top: 2em !important;
}

/* .bs:first-of-type {
  height: 20px;
} */
.room {
  margin-top: 6.5em !important;
  display: grid !important;
  flex-wrap: nowrap;
  grid-template: 1fr 1fr / 1fr 1fr !important;
  justify-items: center;
  /* padding-top: 10em; */
}

.bigimg {
  height: 410px !important;
  border-radius: 5px !important;
}

input,
select,
ant-picker {
  box-shadow: none !important;
  margin-top: 5px !important;
  border: 1 px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 2em;
}
i {
  padding-right: 8px;
}

.ant-picker-input input {
  border: none !important;
}

.col-md-9 {
  background-color: white !important;
  border: 1 px solid black !important;
  border-radius: 10px black !important;
}
.col-md-4 {
  width: 50%;
}
.col-md-11 {
  background-color: white;
  border: 1 px solid black;
  border-radius: 10px black;
}

.search {
  background-color: rgba(0, 0, 0, 0.333) !important;
  margin-top: 0 !important;
  position: fixed !important;
  justify-content: center !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 25px !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  /* display: grid; */
  /* width: 70%; */
}

.landing {
  position: relative;
  background-color: rgb(77, 76, 76) !important;
  background-size: 100%;
  height: 100%;
  padding: 0px !important;
  margin: 0 !important;
}

.landingbtn {
  background-color: white !important;
  color: black !important;
  /* margin-top: 20px !important; */
}
.profil {
  margin: 20px;
  margin-top: 4em;
}

.foglalasok {
  border: 2px solid black !important;
  padding: 2px;
  padding-left: 2px;
}
.booking {
  margin-top: 4em !important;
}
.p {
  padding: 10px;
}

.registerbtn {
  text-align: center !important;
}
.loginbtn {
  text-align: center !important;
}
.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.admin-view-toggle {
  position: absolute;
  top: 4em;
  right: 0;
}

.input {
  display: flex;
  align-items: center;
}

.adminbtn button {
  border: solid 1px white !important;
  padding: 2px;
}
.adminbtn {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding-right: 40px; /* Hely az ikon számára */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #6c757d;
}

.toggle-password:hover {
  color: #343a40;
}

/* From Uiverse.io by Praashoo7 */
.main_back {
  position: absolute;
  border-radius: 10px;
  transform: rotate(90deg);
  width: 11em;
  height: 11em;
  background: linear-gradient(270deg, #03a9f4, #cc39a4, #ffb5d2);
  z-index: -2;
  box-shadow: inset 0px 0px 180px 5px #ffffff;
}

.main {
  display: flex;
  flex-wrap: wrap;
  width: 14em;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-top-left-radius: 10px;
  background: lightgrey;
  transition: 0.4s ease-in-out, 0.2s background-color ease-in-out,
    0.2s background-image ease-in-out;
  background: rgba(255, 255, 255, 0.596);
  backdrop-filter: blur(5px);
  border: 1px solid transparent;
  -webkit-backdrop-filter: blur(5px);
}

.card .instagram {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #cc39a4;
}

.card:nth-child(2) {
  border-radius: 0px;
}

.card:nth-child(2) .twitter {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #03a9f4;
}

.card:nth-child(3) {
  border-top-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(3) .dribble {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #ffb5d2;
}

.card:nth-child(4) {
  border-radius: 0px;
}

.card:nth-child(4) .codepen {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: black;
}

.card:nth-child(5) {
  border-radius: 0px;
}

.card:nth-child(5) .uiverse {
  position: absolute;
  margin-left: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.card:nth-child(6) {
  border-radius: 0px;
}

.card:nth-child(6) .discord {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #8c9eff;
}

.card:nth-child(7) {
  border-bottom-left-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(7) .github {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: black;
}

.card:nth-child(8) {
  border-radius: 0px;
}

.card:nth-child(8) .telegram {
  opacity: 0;
  transition: 0.2s ease-in-out;
  fill: #29b6f6;
}

.card:nth-child(9) {
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
}

.card:nth-child(9) .reddit {
  opacity: 0;
  transition: 0.2s ease-in-out;
}

.main:hover {
  width: 14em;
  cursor: pointer;
}

.main:hover .main_back {
  opacity: 0;
}

.main:hover .card {
  margin: 0.2em;
  border-radius: 10px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

.main:hover .card:nth-child(5) {
  border: transparent;
}

.main:hover .text {
  opacity: 0;
  z-index: -3;
}

.main:hover .instagram {
  opacity: 1;
}

.main:hover .twitter {
  opacity: 1;
}

.main:hover .dribble {
  opacity: 1;
}

.main:hover .codepen {
  opacity: 1;
}

.main:hover .uiverse {
  opacity: 1;
}

.main:hover .discord {
  opacity: 1;
}

.main:hover .github {
  opacity: 1;
}

.main:hover .telegram {
  opacity: 1;
}

.main:hover .reddit {
  opacity: 1;
}

.card:nth-child(1):hover {
  background-color: #cc39a4;
}

.card:nth-child(1):hover .instagram {
  fill: white;
}

.card:nth-child(2):hover {
  background-color: #03a9f4;
}

.card:nth-child(2):hover .twitter {
  fill: white;
}

.card:nth-child(3):hover {
  background-color: #ffb5d2;
}

.card:nth-child(3):hover .dribble {
  fill: white;
}

.card:nth-child(4):hover {
  background-color: #1e1f26;
}

.card:nth-child(4):hover .codepen {
  fill: white;
}

.card:nth-child(5):hover {
  animation: backgroundIMG 0.1s;
  animation-fill-mode: forwards;
}

.card:nth-child(5):hover .uiverse #paint0_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint1_linear_501_142 stop {
  stop-color: white;
}

.card:nth-child(5):hover .uiverse #paint2_linear_501_142 stop {
  stop-color: white;
}

@keyframes backgroundIMG {
  100% {
    background-image: linear-gradient(#bf66ff, #6248ff, #00ddeb);
  }
}

.card:nth-child(6):hover {
  background-color: #8c9eff;
}

.card:nth-child(6):hover .discord {
  fill: white;
}

.card:nth-child(7):hover {
  background-color: black;
}

.card:nth-child(7):hover .github {
  fill: white;
}

.card:nth-child(8):hover {
  background-color: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(1) {
  fill: white;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(2) {
  fill: #29b6f6;
}

.card:nth-child(8):hover .telegram > path:nth-of-type(3) {
  fill: #29b6f6;
}

.card:nth-child(9):hover {
  background-color: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit > g circle {
  fill: rgb(255, 69, 0);
}

.card:nth-child(9) .reddit > g path {
  fill: white;
}

.text {
  position: absolute;
  font-size: 0.7em;
  transition: 0.4s ease-in-out;
  color: black;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.33em;
  z-index: 3;
}

.cta {
  border: none;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.35);
  cursor: pointer;
}

.cta span {
  padding-bottom: 7px;
  letter-spacing: 4px;
  font-size: 14px;
  padding-right: 15px;
  text-transform: uppercase;
}

.cta svg {
  transform: translateX(-8px);
  transition: all 0.3s ease;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active svg {
  transform: scale(0.9);
}

.hover-underline-animation {
  position: relative;
  color: black;
  padding-bottom: 20px;
}

.hover-underline-animation:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footermain {
  color: black;
}

.footermaindiv {
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -0%);
  display: grid;
  justify-content: center;
}
.footerp {
  border: solid 1px white;
  padding: 5px;
  color: white;
  border-radius: 8px;
}

.footer {
  margin: 0;
  position: fixed;
  bottom: 1px;
  right: 1px;
  transform: translate(-10%, -10%);
}
