@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&family=Geist+Mono:wght@100..900&display=swap");
.App {
  text-align: left;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Droid Sans", "Helvetica Neue", sans-serif, "Fira Sans";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: greyscale;
  font-family: "Geist Mono", monospace !important;
}

code {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar {
  background-color: black !important;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 10;
  justify-content: space-between;
}
.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}
.navbar-nav {
  margin-left: auto;
}
.dropdown-menu {
  margin-left: auto !important;
  position: absolute;
  right: 0;
}
.smallimg {
  height: 200px;
  width: 100% !important;
  border-radius: 5px !important;
}
h1 {
  font-size: 20px !important;
}

.btn {
  background-color: black !important;
  color: white !important;
  border: 0px !important;
  box-shadow: none !important;
}

.roombs {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 25px !important;
  flex-wrap: nowrap;
  height: 250px;
  justify-content: center;
  align-items: center;
}

.bs{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 25px !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

/* .bs:first-of-type {
  height: 20px;
} */
.room {
  margin-top: 10em !important;
  display: grid !important;
  flex-wrap: nowrap;
  grid-template: 1fr 1fr / 1fr 1fr !important;
  justify-items: center;
  /* padding-top: 10em; */
}

.bigimg {
  height: 410px !important;
  border-radius: 5px !important;
}

input,
select,
ant-picker {
  box-shadow: none !important;
  margin-top: 5px !important;
  border: 1 px solid black !important;
  width: 100% !important;
  border-radius: 3px !important;
  height: 35px !important;
}

h2 {
  font-size: 30px;
  padding-bottom: 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 2em ;
}
i {
  padding-right: 8px;
}

.ant-picker-input input {
  border: none !important;
}

.col-md-9 {
  background-color: white !important;
  border: 1 px solid black !important;
  border-radius: 10px black !important;
}
.col-md-4 {
  width: 50%;
}
.col-md-11 {
  background-color: white;
  border: 1 px solid black;
  border-radius: 10px black;
}

.search {
  background-color: white !important;
  margin-top: 3.7em !important;
  position: fixed !important;
  justify-content: center !important;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px !important;
  padding: 25px !important;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  display: flex;
  /* display: grid; */
  /* width: 70%; */
}
.admin {
  background-color: white !important;
  padding-top: 4em !important;
}

.landing {
  background-color: rgb(53, 53, 53) !important;
  background-size: 100%;
  height: 100vh;
}

.landingbtn {
  background-color: white !important;
  color: black !important;
  margin-top: 20px !important;
}
.profil {
  margin: 20px;
  margin-top: 4em;
}

.foglalasok {
  border: 2px solid black !important;
  padding: 2px;
  padding-left: 2px;
}
.booking {
  margin-top: 4em !important;
}
.p {
  padding: 10px;
}

.registerbtn {
  text-align: center !important;
}
.loginbtn {
  text-align: center !important;
}
.container {
  padding: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.admin-view-toggle {
  position: absolute;
  top: 4em;
  right: 0;
}

.input {
  display: flex;
  align-items: center;
}

.adminbtn button {
  border: solid 1px white !important;
  padding: 2px;
}
.adminbtn {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
  width: 100%;
}

.input-container input {
  width: 100%;
  padding-right: 40px; /* Hely az ikon számára */
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #6c757d;
}

.toggle-password:hover {
  color: #343a40;
}

